$buttonBackground: rgb(184, 26, 26);
$buttonHover: rgb(250, 22, 22);

.cartItems {
  margin-top: 50px;
  margin-inline: 10%;

  .cartItem {
    display: flex;
    margin-bottom: 40px;

    img {
      width: 25%;
      height: 25%;

      margin-right: 20px;
    }
  }

  .placeOrder {
    margin-top: 15px;
    margin-bottom: 25px;
    background-color: $buttonBackground;
    padding: 12px 45px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid $buttonBackground;
    -webkit-transition: .5s;
    transition: .5s;
    display: inline-block;
    cursor: pointer;
    width: 100%;
    color: #fff;

    &:hover {
        background: $buttonHover;
    }
  }

  & input {
    margin-bottom: 10px;
    font-size: 1em;
    padding: 15px 10px 10px;
    font-family: 'Source Sans Pro', arial, sans-serif;
    border: 1px solid #cecece;
    background: $inputBackground;
    color: $inputColor;
    border-radius: 5px;
    background-clip: padding-box;
    box-sizing: border-box;
    width: 100%;

    &:focus {
        background-color: $inputHover;
    }
  }
  & ::-webkit-input-placeholder {
    color: $inputColor;
  }
}